.container {
  border: solid black 2px;
  height: 100vh;
  margin-top: 15px;
}
.search-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 2px solid black;
  height: 2em;
  width: 15em;
  margin-bottom: 8px;
  font-family: 'Josefin Sans';
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.difficulty-input {
  display: flex;
  flex-direction: column;
}
.map-container {
  border: solid black 2px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  border: solid black 2px;
  height: 250px;
  width: 300px;
  margin-bottom: 15px;
}
.result {
  border: solid black 2px;
  height: 250px;
  width: 300px;
  margin-bottom: 15px;
  width: 100vh;
  display: flex;
  justify-content: center;
}
.button-and-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.result-info {
  
}
agm-map {
  height: 280px;
  width: 340px;
  margin-bottom: 15px;
}
button {
  border: 2px solid black;
  height: 2.5em;
  width: 15em;
  margin-bottom: 8px;
  font-family: 'Josefin Sans';
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}
button:hover {
  height: 2.5em;
  background: black;
  color: #fff;
  width: 15em;
  margin-bottom: 8px;
  font-family: 'Josefin Sans';
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.route-url {
  color: black;
  font-size: 18px;
}
.map-and-result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
