<div class="parent-container color-dark">
  <div class= "container color-dark">
    <div class="col">
      <p>How many miles are you willing to drive?</p>
      <input type="text" class="criteria" name="location" placeholder="e.g.: 20" (keyup)="getDistance($event)">
    </div>
    <div class="col">
      <p>Enter your location.</p>
      <input type="text" class="criteria" name="location" placeholder="e.g.: Boulder, CO" (keyup)="getLocation($event)">
    </div>
    <div class="col">
      <p>What difficulty are you looking for?</p>
      <input type="text" class="criteria" name="location" placeholder="Min. difficulty e.g.: 5.10b" (keyup)="getMinDifficulty($event)">
      <input type="text" class="criteria" name="location" placeholder="Max. difficulty e.g.: 5.11b" (keyup)="getMaxDifficulty($event)">
    </div>
  </div>
  <div class="submit color-dark">
    <button class="find-button" (click)= "getRoutes()">Find Routes</button>
  </div>
  <div class="routes-container">
    <ul class="routes-list color-dark" *ngFor= "let route of routes">
      <div class="route-description">
        <li >
          <div class= "name-grade">
            {{route.name}}, {{route.rating}}<br>{{route.url}}<br><button class="save-button" (click)="addRoute($event)">add to projects?</button>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
