.parent-container {
  display: flex;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.submit{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.criteria {
  border: 0;
  padding: 1em;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.col {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .3em 1em;
}
.routes-container {
  justify-content: center;
  margin-top: 12px;
  width: 50%;
}
.save-button {
  background: #2885C4;
  border-radius: 5px;
  color: #fff;
  border: 0;
  width: 80px;
  height: 50px;
  font-size: 25;
  margin: 3px;
}
.color-dark {
  background: #2885C4;
}
.color-light {
  background: #57B3F1;
}
.routes-list {
  display: flex;
  flex-direction: column;
}
.name-grade {
  margin: 2px;
}
.route-description {
  background-color: #2E9Ce6;
  border-radius: 5px;

}

.find-button {
  margin-bottom: 1em;
  color: #fff;
  background: #2E9Ce6;
  width: 180px;
  height: 55px;
  border-radius: 5px;
  border: 0;
  font-size: 28px;
}
input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
  border-radius: 5px;
}
