<div class="container">
  <form class="search-fields">
    <div class="input-container">
      <p>What difficulty are you looking for?</p>
      <div class="difficulty-input">
        <input type="text" name="" value="" placeholder="Min. ex.: 5.10a" required (keyup)="getMinDifficulty($event)">
        <input type="text" name="" value="" placeholder="Max. ex.: 5.10c" required (keyup)="getMaxDifficulty($event)">
      </div>
    </div>
    <div class="input-container">
      <p>How many miles would you drive?</p>
      <input type="text" name="" value="" placeholder="ex.: 20" (keyup)="getDistance($event)">
    </div>
  </form>
  <div class="map-and-result">
    <div class="map-container">
      <p>Click the map to set your location.</p>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="4" (mapClick)="onChooseLocation($event)">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="button-and-result">
      <ul class="result" *ngFor="let route of routesFromMP">
        <li>
          {{route.name}} {{route.rating}}<br>{{route.stars}} stars<br>{{route.location[2]}}<br><a class="route-url" href="{{route.url}}" target="_blank">{{route.url}}</a><br><button class="save-button" (click)="addRoute($event)">add to projects?</button>
        </li>
      </ul>
      <button type="button" name="button" (click)="getRoutes($event)">find routes!</button>
    </div>
  </div>
</div>
