.list-of-routes {
  display: flex;
  flex-direction: column;
}
.list-of-routes li {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  height: 75px;
  width: 96%;
  border: solid black 2px;
 }
 .input {
   border:solid black 2px ;
   margin-right: 2.5px;
   padding: 3px;
   font-family: "Josefin Sans";
   font-size: 18px;
   width: 18vh;
 }

.remove-button {
   margin-left: 10px;
   justify-content: flex-end;
   background: #5FB5ED;
   border: 0;
   color: #fff;
 }
 .clear-list {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
 }

 .clear-all {
   margin-left: 2.5px;
   border: solid black 2px;
   height: 40px;
   width: 120px;
   font-family: "Josefin Sans";
   font-size: 18px;
 }
 .clear-all:hover{
   height: 40px;
   width: 120px;
   font-family: "Josefin Sans";
   font-size: 18px;
   margin-left: 2.5px;
   background: black;
   color: #fff
 }
 .route-number {
   font-size: 20px;
   margin-left: 10px;
 }
.route-description {
  margin-left: 15px;
  color: black;
}
a {
  font-size: 14px;
  color: black;
}
.route {
  border-radius: black solid 2px;
}
