<header>
  <div class="app-header">
    <img id="app-logo" src="../../assets/rrlogo2.svg" alt="logo">
    <div class="app-title">
      <img id="roulette-symbol" src="../../assets/roulettesymbol.svg" alt="roulette-symbol">
      <h1>route roulette</h1>
    </div>
    <nav class="header-items">
      <div class="nav-link" routerLink=''>
        find routes
      </div>
      <div class="nav-link" routerLink='/projects'>
        your projects
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
