header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roulette-symbol {
  height: 30px;
  width: 30px;
}

#app-logo{
  height: 20em;
  width: 20em;
  margin-top: -2em;
}
.app-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -4em;
}
.header-items {
  width: 100vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-link {
  font-size: 36px;
  padding: 5px;
}
.nav-link:hover {
  font-size: 36px;
  background: black;
  color: #fff;
}

nav {
  margin-bottom: 20px;
}
